{%extends "base.html"%}
{%load static i18n%}

{% block style %}
<style>
.container {
    margin-top:2em;
    display: flex;
    justify-content: center;
}
.div_form {
                width: 33%;
            }
</style>
{% endblock style %}

{%block main%}
<div class="container">
    <div class="div_form" >
        <form class="col p-5 shadow bg-light align-self-center text-center border border-primary rounded"
            action="{% url 'add_todo' %}" method="post" novalidate>

        {% if messages %}
            <ul class="messages text_color bg-info">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} list-unstyled" {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
            </ul>
        {% endif %}
        <!-- -->
        {% csrf_token %}

        <!-- -->
        {% include "./includes/formload.html" %}

        <button type="submit" class="btn btn-lg btn-primary mt-4 mt-sm-3 mt-md-3 shadow text-white"
            value="">Add</button>
        </form>
    </div>
</div>

{%endblock main%}